@import "./styles/home.css";

:root {
    --pink-light: #ffede9;
    --pink-medium: #fddad3;
    --pink-dark: #fe8f90;
    --red: #e44e70;
    --black: #000000;
    --white: #ffffff;

    --primary-hover: #fec2c2;

    --font-family-base: 'Elms Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
    color: var(--black);
    background-color: var(--pink-light);
    text-align: left;
    font-size: 16px;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    letter-spacing: -1px;
}


footer {
    background-color: var(--pink-medium);
}

.btn-filled {
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
}

.btn-outline {
    color: var(--black);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    border: 2px solid var(--black);
}
